# 5.1 Print

In [1]:
print('Ini Kelas Algoritma')

Ini Kelas Algoritma

In [2]:
print("Cuaca Hari Ini Sangat Cerah")

Cuaca Hari Ini Sangat Cerah

In [3]:
print("I can't give up!")

I can't give up!

In [4]:
print('She is very "SMART"')

She is very "SMART"

In [5]:
uang_kakak = 5000
uang_adik = 10000
print(uang_kakak + uang_adik)

15000

In [6]:
pria = 22
wanita = 25
print(pria)
print(wanita)
print(pria*wanita)

22
25
550

In [7]:
nama_depan = 'Elfloris'
nama_tengah = ' Br'
nama_belakang = ' Sitepu'
print(nama_depan + nama_tengah + nama_belakang)

Elfloris Br Sitepu

In [8]:
nama_depan = '2108541037_'
nama_belakang = 'Elfloris'
print(nama_depan + nama_belakang)

2108541037_Elfloris

In [9]:
nama_depan = 'Elfloris'
nama_tengah = ' '
nama_belakang = ' Sitepu'
print(nama_depan + nama_tengah + nama_belakang)

Elfloris  Sitepu

# 5.2 Input

In [10]:
nama = input("Siapakah nama anda? ")
kegiatan = input('Apa kegiatan anda sekarang, ' + nama +"? ")
print("Semangat "+ kegiatan +" nya yah, " + nama + "!")

Siapakah nama anda? Elfloris
Apa kegiatan anda sekarang, Elfloris? belajar
Semangat belajar nya yah, Elfloris!

In [11]:
nama = input ("Siapakah nama kamu? ")
status = input ("Apa status kamu sekarang, " + nama +"? ")
institusi = input ("Mahasiswa dimana, " + nama +"? ")
print(nama +" adalah " + status +" di " + institusi +". ")

Siapakah nama kamu? Elfloris
Apa status kamu sekarang, Elfloris? mahasiswa
Mahasiswa dimana, Elfloris? Universitas Udayana
Elfloris adalah mahasiswa di Universitas Udayana.

In [12]:
nama = input("Siapakah nama anda? ")
nim = input("Berapakah nim anda, " + nama +"? ")
print(nama +" dengan nim " + nim +" .")

Siapakah nama anda? Elfloris Br Sitepu
Berapakah nim anda, Elfloris Br Sitepu? 2108541037
Elfloris Br Sitepu dengan nim 2108541037 .

In [13]:
nama = input("Siapakah nama anda? ")
alamat = input("Dimanakah anda tinggal, " + nama +"? ")
print(nama +" tinggal di " + alamat +". ")

Siapakah nama anda? Elfloris
Dimanakah anda tinggal, Elfloris? Medan
Elfloris tinggal di Medan.

# 5.3 Tipe Data pada Python
Ada tiga tipe data pada python

In [14]:
a = "elfloris"
print (a)

elfloris

In [15]:
type(a)

str

In [16]:
c = "my love"
print (c)

my love

In [17]:
type(c)

str

In [18]:
b = 21

In [19]:
type (b)

int

In [20]:
a = 2
b = 3 
print(a + b)

5

In [21]:
type(a + b)

int

In [22]:
uang_kakak = input("Berapakah jumlah uang kakak? ")
uang_adik = input("Berapakah jumlah uang adik? ")
print("Total uang kakaa dan adik adalah Rp " + uang_kakak + uang_adik)

Berapakah jumlah uang kakak? 1000
Berapakah jumlah uang adik? 2000
Total uang kakaa dan adik adalah Rp 10002000

In [23]:
uang_abang = input("Berapakah jumlah uang abang? ")
uang_kakak = input("Berapakah jumlah uang kakak? ")
total_uang = int(uang_abang) + int(uang_kakak)
print("Total uang abang dan kakak adalah Rp "+ str(total_uang))

Berapakah jumlah uang abang? 50000
Berapakah jumlah uang kakak? 100000
Total uang abang dan kakak adalah Rp 150000

In [24]:
type(total_uang)

int

In [25]:
type(uang_abang)

str

In [26]:
a = input("Masukkan bilangan pertama: ")
b = input("Masukkan bilangan kedua: ")
jumlah = float(a) + float(b)
print(jumlah)

Masukkan bilangan pertama: 15
Masukkan bilangan kedua: 5
20.0

In [27]:
nama = input("Siapakah nama anda? ")
tahun_lahir = input("Tahun berapa anda lahir, "+ nama +"? ")
tahun_sekarang = input("Tahun berapa sekarang? ")
umur_sekarang = int(tahun_sekarang) - int(tahun_lahir)
print("Umur anda sekarang adalah "+ str(umur_sekarang))

Siapakah nama anda? Elfloris Br Sitepu
Tahun berapa anda lahir, Elfloris Br Sitepu? 2004
Tahun berapa sekarang? 2022
Umur anda sekarang adalah 18

In [28]:
type(nama)

str

LATIHAN: 
Buat program penjumlahan dua bilangan dengan menggunakan perintah input dan print.

In [29]:
bilangan_satu = input("Masukkan bilangan pertama: ")
bilangan_kedua = input("Masukkan bilangan kedua: ")
jumlah = float(bilangan_satu) + float(bilangan_kedua)
print("Jumlah kedua bilangan adalah "+ str(jumlah))

Masukkan bilangan pertama: 5
Masukkan bilangan kedua: 3
Jumlah kedua bilangan adalah 8.0

In [30]:
bilangan_satu = input("Masukkan bilangan pertama: ")
bilangan_kedua = input("Masukkan bilangan kedua: ")
jumlah = float(bilangan_satu) + float(bilangan_kedua)
print("Jumlah kedua bilangan adalah "+ str(jumlah))

Masukkan bilangan pertama: 6
Masukkan bilangan kedua: 15
Jumlah kedua bilangan adalah 21.0

# 5.4 Formatted String

In [1]:
nama = "Elfloris"
pekerjaan = 'mahasiswa'
institusi = 'Universitas Udayana'
print(nama + ' adalah seorang ' + pekerjaan + ' di ' + institusi +'.')

Elfloris adalah seorang mahasiswa di Universitas Udayana.

In [2]:
print(f'{nama} adalah seorang {pekerjaan} di {institusi}.')

Elfloris adalah seorang mahasiswa di Universitas Udayana.

In [3]:
nama = "Elfloris"
pekerjaan = 'mahasiswa'
prodi = 'matematika'
print(nama + ' adalah seorang ' + pekerjaan + ' program studi ' + prodi +'.')

Elfloris adalah seorang mahasiswa program studi matematika.

In [5]:
print(f"{nama} adalah seorang {pekerjaan} program studi {prodi}.")

Elfloris adalah seorang mahasiswa program studi matematika.

In [7]:
nama = "Elfloris"
pekerjaan = 'mahasiswa'
prodi = 'matematika'
institusi = 'Universitas Udayana'
jalur = 'SNMPTN'
print(nama + ' adalah seorang ' + pekerjaan + ' program studi ' + prodi + ' di ' + institusi + ' melalui jalur ' + jalur +'.')

Elfloris adalah seorang mahasiswa program studi matematika di Universitas Udayana melalui jalur SNMPTN.

In [8]:
print(f'{nama} adalah seorang {pekerjaan} program studi {prodi} di {institusi} melalui jalur {jalur}.')

Elfloris adalah seorang mahasiswa program studi matematika di Universitas Udayana melalui jalur SNMPTN.

# 5.5 Strings Index

In [9]:
kelas = 'mahasiswa matematika'

In [10]:
print(kelas[0:2])

ma

In [11]:
print(kelas[0:-3])

mahasiswa matemat

In [13]:
print(kelas[2:-1])

hasiswa matematik

In [14]:
print(kelas[3:-1:4])

awaa

In [15]:
print(kelas[:])

mahasiswa matematika

In [16]:
print(kelas[2:])

hasiswa matematika

In [29]:
print(kelas[-5:])

atika

# 5.6 Strings Methods

In [18]:
kalimat = 'Matematika sangatlah Menyenangkan, bukan?'

In [19]:
kalimat.lower()

'matematika sangatlah menyenangkan, bukan?'

In [20]:
kalimat.upper()

'MATEMATIKA SANGATLAH MENYENANGKAN, BUKAN?'

In [21]:
print(len(kalimat))

41

In [22]:
kalimat.find('Matematika')

0

In [23]:
kalimat.find('sangatlah')

11

In [24]:
kalimat.replace('sangatlah', 'tidaklah')

'Matematika tidaklah Menyenangkan, bukan?'

In [25]:
kalimat.find('matematika')

-1

In [26]:
print('Menyenangkan' in kalimat)

True

In [27]:
print('tidaklah' in kalimat)

False

In [28]:
print('Matematika' in kalimat)

True

# 5.7 Operasi Matematika di Python

In [30]:
print(2+3)
print(2-3)
print(2*3)
print(7/3)
print(7//3)
print(7%3)
print(2**3)
x=3
x+=1
print(x)
x-=2
print(x)
x*=3
print(x)

5
-1
6
2.3333333333333335
2
1
8
4
2
6

In [31]:
x=21
x = x+2
print(x)

23

In [32]:
x = x+5
print(x)

28

In [33]:
x = x-2
print(x)

26

In [34]:
x*=1
print(x)

26

In [35]:
x+=5
print(x)

31

In [36]:
x-=10
print(x)

21

In [37]:
x/=7
print(x)

3.0

In [38]:
x//=2
print(x)

1.0

In [39]:
y=5
y=y**2
print(y)

25

In [40]:
y=y%5
print(y)

0

In [41]:
y=y%100
print(y)

0

In [42]:
y=25
y=y%100
print(y)

25

In [43]:
y//=2
print(y)

12

In [44]:
y=y+9
print(y)

21

In [45]:
y%=3
print(y)

0

# 5.8 Operator Perbandingan di Python

In [1]:
x = 3>2
print(x)
x = 2<3
print(x)
x = 3 >= 2
print(x)
x = 2 <= 3
print(x)
x = 3 == 3
print(x)
x = 3 != 4
print(x)

True
True
True
True
True
True

In [2]:
y = 5<3
print(y)
y = 4>5
print(y)

False
False

In [3]:
el = 21 == 21
print(el)
ch = 1 != 2
print(ch)
elchris = 75 <= 100
print(elchris)

True
True
True

In [4]:
a = 7 >= 2
print(a)
b = 4 == 2
print(b)
c = 3 <= 5
print(c)
d = 8 != 8
print(d)

True
False
True
False

In [5]:
elflo = 2022 < 2004
print(elflo)

False

In [6]:
flo = 2004 <= 2022
print(flo)

True

In [7]:
nim = 2108541037 == 2108541037
print(nim)

True

In [8]:
ris = 8541 != 8541
print(ris)

False

In [9]:
stp = 8541 != 8543
print(stp)

True

In [10]:
ch = 21 <= 12
print(ch)

False

# 5.9 Operator Logika di Python

In [11]:
apel = 15
anggur = 25
print(apel > 10 and anggur < 50)

True

In [12]:
print(apel < 10 or anggur < 50)

True

In [13]:
print(apel < 10 or anggur > 50)

False

In [14]:
print(not (apel < 10 or anggur > 50))

True

In [15]:
print(not (apel > 10 or anggur < 50))

False

In [16]:
print(apel > 10 or anggur < 50)

True

In [17]:
elflo = 18
chris = 19
print(elflo < 20 and chris > 20)

False

In [18]:
print(elflo < chris)

True

In [19]:
print(elflo > 20 or chris < 20)

True

In [20]:
print(elflo <= chris)

True

In [21]:
print(not (elflo < 15 or chris < 20))

False

In [22]:
print(not (elflo < 15 or chris > 20))

True

In [23]:
print(elflo < chris and chris > elflo)

True

In [24]:
print(elflo == chris and chris != elflo)

False

In [25]:
print(elflo >= chris and chris <= elflo)

False

In [26]:
print(not (elflo >= chris and chris <= elflo))

True

In [27]:
print(not (elflo == chris and chris == elflo))

True

In [28]:
print(elflo != chris)

True

# 5.10 Operator if di Python

In [29]:
nilai = float(input("Nilai Elfloris adalah "))
if nilai >= 80:
    print("Elfloris mendapatkan nilai A")
    print("Excellent, selamat ya!")
if nilai < 80 and nilai >= 70:
    print("Elfloris mendapatkan nilai B")
    print("Lebih ditingkatkan lagi ya!")
if nilai >= 60 and nilai < 70:
    print("Elfloris mendapatkan nilai C")
    print("Lain kali lebih baik lagi")
if nilai >= 50 and nilai < 60:
    print("Elfloris mendapatkan nilai D")
    print("Ulang lagi tahun depan")
if nilai < 50:
    print("Elfloris mendapatkan nilai E")
    print("Sampai jumpa tahun depan")

Nilai Elfloris adalah 90
Elfloris mendapatkan nilai A
Excellent, selamat ya!

In [30]:
nilai = float(input("Nilai Elfloris adalah "))
if nilai >= 80:
    print("Elfloris mendapatkan nilai A")
    print("Excellent, selamat ya!")
elif nilai >= 70:
    print("Elfloris mendapatkan nilai B")
    print("Lebih ditingkatkan lagi ya!")
elif nilai >= 60:
    print("Elfloris mendapatkan nilai C")
    print("Lain kali lebih baik lagi")
elif nilai >= 50:
    print("Elfloris mendapatkan nilai D")
    print("Ulang lagi tahun depan")
else:
    print("Elfloris mendapatkan nilai E")
    print("Sampai jumpa tahun depan")

Nilai Elfloris adalah 95
Elfloris mendapatkan nilai A
Excellent, selamat ya!

In [31]:
nilai = float(input("Nilai Elfloris adalah "))
if nilai >= 80:
    print("Elfloris mendapatkan nilai A")
    print("Excellent, selamat ya!")
elif nilai >= 70:
    print("Elfloris mendapatkan nilai B")
    print("Lebih ditingkatkan lagi ya!")
elif nilai >= 60:
    print("Elfloris mendapatkan nilai C")
    print("Lain kali lebih baik lagi")
elif nilai >= 50:
    print("Elfloris mendapatkan nilai D")
    print("Ulang lagi tahun depan")
else:
    print("Elfloris mendapatkan nilai E")
    print("Sampai jumpa tahun depan")

Nilai Elfloris adalah 75
Elfloris mendapatkan nilai B
Lebih ditingkatkan lagi ya!

In [32]:
nilai = float(input("Nilai anda adalah "))
if nilai >=80: 
    print("Anda mendapatkan nilai A")
    print("Wah, bagus sekali selamat ya!")

Nilai anda adalah 88
Anda mendapatkan nilai A
Wah, bagus sekali selamat ya!

In [34]:
nilai = float(input("Umur anda adalah "))
if nilai >= 21:
    print("Anda sudah tua")
    print("Nikah sanaa haha")
if nilai >= 17:
    print("Anda sudah dewasa")
    print("Lakukan yang terbaik")
if nilai >= 12:
    print("Anda masih remaja")
    print("Jangan pacaran ya")
if nilai <= 5:
    print("Anda masih anak anak")
    print("Rajin belajar ya")

Umur anda adalah 18
Anda sudah dewasa
Lakukan yang terbaik
Anda masih remaja
Jangan pacaran ya

In [36]:
nilai = float(input("Umur anda adalah "))
if nilai >= 21:
    print("Anda sudah tua")
    print("Nikah sanaa haha")
if nilai >= 17:
    print("Anda sudah dewasa")
    print("Lakukan yang terbaik")
if nilai >= 12:
    print("Anda masih remaja")
    print("Jangan pacaran ya")
if nilai <= 5:
    print("Anda masih anak anak")
    print("Rajin belajar ya")

Umur anda adalah 14
Anda masih remaja
Jangan pacaran ya

LATIHAN: Buatlah program yang merubah tinggi badan seseorang dari cm ke inci atau sebaliknya dari inci ke cm.

In [37]:
tinggi = float(input("Berapakah tinggi anda? "))
cm_atau_inci = input("Tingginya dalam cm atau inci? ")

if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0.393701
    print("Tinggi anda adalah " + str(tinggi) + " inci")
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi/0.393701
    print(f"Tinggi anda adalah {tinggi} cm")

Berapakah tinggi anda? 175
Tingginya dalam cm atau inci? cm
Tinggi anda adalah 68.897675 inci

In [38]:
tinggi = float(input("Berapakah tinggi anda? "))
cm_atau_inci = input("Tingginya dalam cm atau inci? ")

if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0.393701
    print("Tinggi anda adalah " + str(tinggi) + " inci")
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi/0.393701
    print(f"Tinggi anda adalah {tinggi} cm")

Berapakah tinggi anda? 64.960665
Tingginya dalam cm atau inci? inci
Tinggi anda adalah 165.0 cm

In [39]:
tinggi = float(input("Berapakah tinggi Chris? "))
cm_atau_inci = input("Tingginya dalam cm atau inci? ")

if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0.393701
    print("Tinggi Chris adalah " + str(tinggi) + " inci")
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi/0.393701
    print(f"Tinggi Chris adalah {tinggi} cm")

Berapakah tinggi Chris? 180
Tingginya dalam cm atau inci? cm
Tinggi Chris adalah 70.86618 inci

In [40]:
tinggi = float(input("Berapakah tinggi Elflo? "))
cm_atau_inci = input("Tingginya dalam cm atau inci? ")

if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0.393701
    print("Tinggi Elflo adalah " + str(tinggi) + " inci")
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi/0.393701
    print(f"Tinggi Elflo adalah {tinggi} cm")

Berapakah tinggi Elflo? 170
Tingginya dalam cm atau inci? cm
Tinggi Elflo adalah 66.92917 inci

In [41]:
tinggi = float(input("Berapakah tinggi Elflo? "))
cm_atau_inci = input("Tingginya dalam cm atau inci? ")

if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0.393701
    print("Tinggi Elflo adalah " + str(tinggi) + " inci")
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi/0.393701
    print(f"Tinggi Elflo adalah {tinggi} cm")

Berapakah tinggi Elflo? 67.716572
Tingginya dalam cm atau inci? inci
Tinggi Elflo adalah 172.0 cm

# 5.11 While loop

In [42]:
a = 0
while a < 8:
    print("Angka " + str(a)+" masih dibawah 8")
    a += 1

Angka 0 masih dibawah 8
Angka 1 masih dibawah 8
Angka 2 masih dibawah 8
Angka 3 masih dibawah 8
Angka 4 masih dibawah 8
Angka 5 masih dibawah 8
Angka 6 masih dibawah 8
Angka 7 masih dibawah 8

In [43]:
a = 5
while a > 2:
    print("Angka " + str(a)+" sudah diatas 2")
    a -= 1

Angka 5 sudah diatas 2
Angka 4 sudah diatas 2
Angka 3 sudah diatas 2

In [44]:
a = 0
while a < 8:
    print(a * '*')
    a += 1

*
**
***
****
*****
******
*******

In [45]:
a = 0
while a < 10:
    print(a * '.')
    a += 1

.
..
...
....
.....
......
.......
........
.........

In [46]:
b = 0
while b < 6:
    print(b * '^')
    b += 1

^
^^
^^^
^^^^
^^^^^

In [48]:
c = 1
while c <= 3:
    print(str(c) + "Elfloris" + " dengan nim 037")
    c += 1

1Elfloris dengan nim 037
2Elfloris dengan nim 037
3Elfloris dengan nim 037

In [1]:
e = 1
while e < 10:
    print(str(e) + "I" + " LOVE YOU")
    e += 1

1I LOVE YOU
2I LOVE YOU
3I LOVE YOU
4I LOVE YOU
5I LOVE YOU
6I LOVE YOU
7I LOVE YOU
8I LOVE YOU
9I LOVE YOU